<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bo.com.linxs.bolivianoticias" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoticiasDespliegue"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_noticias_despliegue"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>
        <activity
            android:name=".ElDiaEnImagenes"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden"
            android:label="@string/title_activity_el_dia_en_imagenes"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>
        <activity
            android:name=".ImageViewPager"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden"
            android:label="@string/title_activity_image_view_pager"
            android:parentActivityName=".ElDiaEnImagenes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElDiaEnImagenes" />
        </activity>
        <activity
            android:name=".VideosVirales"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden"
            android:label="@string/title_activity_videos_virales"
            android:hardwareAccelerated="true"
            android:parentActivityName=".Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal" />
        </activity>

    </application>

</manifest>
